<!DOCTYPE HTML>
<html>
<head>
<title>登录</title>
<!-- Custom Theme files -->
<link href="../static/css/style.css" rel="stylesheet" type="text/css" media="all"/>
<!-- Custom Theme files -->
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="Checkbox Background Signup Form web template, Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
<!--Google Fonts-->
<!--Google Fonts-->
<script src="../static/js/jquery-3.3.1.min.js"></script>
        <style>
        #code_img {
            margin-left: 80px;
            width: 200px;
            height: 40px;
            cursor: pointer;
            vertical-align: top;
            margin-top: 10px;
        }
    </style>
</head>
<body>
<h2>古月游戏论坛欢迎您</h2>
<div class="signup" >


            <span class="ribben">欢迎登录</span>
            <p>账号 : <span class="dot" id="sc"> </span></p>
            <input type="text" name="user" id="name">
            <p>密码 : <span class="dot" > </span></p>
            <input type="password" name="pwd" id="Password">

            <p>验证码:<span class="dot" id="spanyzm"></span></p>
            <p>
            <input type="text" class="topAlign" id="verify" name="verify" required>
            <canvas width="100" height="50" id="verifyCanvas" ></canvas>
            <img id="code_img">
            </p>

            <div><a style="padding-left: 170px" id="submit">登录</a></div>
            <div><a href="/register" style="padding-left: 170px">注册</a></div>
            <a href="/retrieve" style="color: #46b8da;align-content: center">忘记密码？</a>
</div>

<div class="copyright">
	<p>古月游戏论坛 &copy; 2018</p>
</div>
<script>
    var nums = ["1", "2", "3", "4", "5", "6", "7", "8", "9", "0", 'A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R',
        'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x',
        'y', 'z'];
    var rand = new Array();
    drawCode();
    // 绘制验证码
    function drawCode() {
        var canvas = document.getElementById("verifyCanvas");  //获取HTML端画布
        var context = canvas.getContext("2d");                 //获取画布2D上下文
        context.fillStyle = "cornflowerblue";                  //画布填充色
        context.fillRect(0, 0, canvas.width, canvas.height);   //清空画布
        context.fillStyle = "white";                           //设置字体颜色
        context.font = "25px Arial";                           //设置字体
        var x = new Array();
        var y = new Array();
        for (var i = 0; i < 5; i++) {
            rand[i] = nums[Math.floor(Math.random() * nums.length)]
            x[i] = i * 16 + 10;
            y[i] = Math.random() * 20 + 20;
            context.fillText(rand[i], x[i], y[i]);
        }
        //画3条随机线
        for (var i = 0; i < 3; i++) {
            drawline(canvas, context);
        }

        // 画30个随机点
        for (var i = 0; i < 30; i++) {
            drawDot(canvas, context);
        }
        convertCanvasToImage(canvas)
    }

    // 随机线
    function drawline(canvas, context) {
        context.moveTo(Math.floor(Math.random() * canvas.width), Math.floor(Math.random() * canvas.height));             //随机线的起点x坐标是画布x坐标0位置，y坐标是画布高度的随机数
        context.lineTo(Math.floor(Math.random() * canvas.width), Math.floor(Math.random() * canvas.height));  //随机线的终点x坐标是画布宽度，y坐标是画布高度的随机数
        context.lineWidth = 0.5;                                                  //随机线宽
        context.strokeStyle = 'rgba(50,50,50,0.3)';                               //随机线描边属性
        context.stroke();                                                         //描边，即起点描到终点
    }
    // 随机点(所谓画点其实就是画1px像素的线，方法不再赘述)
    function drawDot(canvas, context) {
        var px = Math.floor(Math.random() * canvas.width);
        var py = Math.floor(Math.random() * canvas.height);
        context.moveTo(px, py);
        context.lineTo(px + 1, py + 1);
        context.lineWidth = 0.2;
        context.stroke();

    }
    // 绘制图片
    function convertCanvasToImage(canvas) {
        document.getElementById("verifyCanvas").style.display = "none";
        var image = document.getElementById("code_img");
        image.src = canvas.toDataURL("image/png");
        return image;
    }

    // 点击图片刷新
    document.getElementById('code_img').onclick = function () {
        $('#verifyCanvas').remove();
        $('#verify').after('<canvas width="100" height="40" id="verifyCanvas"></canvas>')
        drawCode();
    };


    $("#submit").click(function () {
        $("#spanyzm").html("");
        $("#sc").html("");
        var sub_user = $('#name').val();
        var sub_pwd = $('#Password').val();
        var yzm = $("#verify").val();
        var leg = 0;
        console.log(yzm[0]==rand[0],yzm[1]==rand[1],yzm[2]==rand[2],yzm[3]==rand[3],yzm[4]==rand[4]);
        for(i=0;i<5;i++)
            if(yzm[i]!=rand[i])
            {
                leg = 1;
                $("#spanyzm").html("验证码错误");
                $("#spanyzm").css({"color":"red"});
                break;
            }
        console.log(leg);
        if(leg==0){
            $.ajax({
                url: '/login/',
                type: "POST",
                data: {user: sub_user, pwd: sub_pwd},
                success: function (arg) {
                    if(arg.tip == "账号或密码错误"){
                        $("#sc").html(arg.tip);
                        $("#sc").css({"color":"#F00"});
                    }else if(arg.tip == "不能为空"){
                        $("#sc").html(arg.tip);
                        $("#sc").css({"color":"#F00"});
                    }else if(arg.tip == "该账号已被禁用"){
                        alert("该账号已被停用");
                    }
                    else if(arg.tip == "跳至主页面")
                        window.location.href="/home";
                    else
                        alert("发生错误")
                },
            })
        }});
        $.ajaxSetup({
    　　data: {csrfmiddlewaretoken: '{{ csrf_token }}' },
        });
</script>
<script>

</script>
</body>
</html>